*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    padding-left: 10px;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/*  box 2 */
.nav-address{
    
}
.first-para{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.second-para{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}