*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    display: flex;
    align-items: center;
    height: 54px;
    width: 136px;
}
.logo {
    text-align: center;
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 54px;
    width: 100%;
    
  
}
.border {
    border: 1.5px solid transparent;
    padding: 6px;
}
.border:hover {
    border: 1.5px solid white;
}

/*  box 2 */
/* .nav-address{
    
} */
.first-para{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    
}
.second-para{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* Box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 660px;
    height: 40px;
    background-color: #ebb734;
    border-radius: 4px ;
    align-items: center;
    
}
.nav-search:hover{
    border: 2px solid #ffb700;
    box-shadow: 0px 0px 1px 2px #ff8c00;

}
.search-select{
    background-color: #f3f3f3;
    height: 40px;
    width: 50px;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
}
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    font-size: 1.2rem;
    border: none;
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}

/* Box 4 */
span{
    font-size: 0.7rem;

}
.navsignin{
    font-size: 0.85 rem;
    font-weight: 700;
}

/* Box 6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85 rem;
    font-weight: 700;
}

/* Panel section */
.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #252c47;
    color: #f3f3f3;
    height: 39px;
    padding-left: 2vw;
    padding-right: 2vw;
}
.panel-all i{
    font-size: 25px;
    text-align: center;
}
.panel-all{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
.panel-all i{
    font-size: 1.5rem;
    font-weight: 600;
}
.panel-ops{
    display: flex;
    width: 70%;
    gap: 2vw;
    font-size: 0.9rem;
    font-weight: 600;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 800;
}